ul, li {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

a{ 
    display: inline-block;
    text-decoration: none !important;
    transition: all 0.2s ease;
}

main {
    // padding-top: 60px;
}

img {
    width: 100%;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}   